{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>{{channel}}</h1>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">
                <div class="col-12 col-md-6">
                    <div class="single-blog-content">
                        <p>Teste</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
{% endblock content %}
