{% extends 'base.html' %}
{% load static %}
    {% block content %}
<div class="blog-wrapper section-padding-100 clearfix">


        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">

                    <h3> Posts {{current_tags|join:" // "}} </h3>
                    <h2>Topic: {{topic}}</h2>

                    {% for post in post_list %}
                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="single-blog-thumbnail">
                                    <img src="{% static 'img/blog-img/3.jpg' %}" alt="">
                                    <div class="post-date">
                                        <a href="#">12 <span>march</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Blog Content -->
                                <div class="single-blog-content">
                                    <div class="line"></div>

                                    {% for tag in post.tags.names %} {% if tag != 'numerology' %}<a class="post-tag" href="{% url 'numerology:posts' tag %}">{{tag}}</a>{% endif %}{%endfor%}

                                    <h4><a href="#" class="post-headline">{{ post.title }}</a></h4>
                                    <p>{{ post.text }}</p>
                                    <div class="post-meta">
                                        <p>By <a href="#">{{ post.owner }}</a></p>
                                        <p>3 comments</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <!-- Load More -->
                    <div class="load-more-btn mt-100 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1000ms">
                        <a href="#" class="btn original-btn">Read More</a>
                    </div>
                </div>


                <div class="col-12" >
                    <h1>Novo Post </h1>
                    <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                    <h5>Tags: {% for tag in current_tags %} {{tag}} {%endfor%}</h5>
                    <button type="submit" class="save btn btn-default">Save</button>
                    </form>
                </div>

            </div>
        </div>


        <div class="container">
            <div class="row">

                <!-- ##### Sidebar Area ##### -->
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="post-sidebar-area">



                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">Pessoas com o mesmo numero</h5>

                            <div class="card-columns">
                                <!-- Single Blog Post -->
                                {% for user in users %}
                                <div class="card p-3">
                                    <div class="card-block">
                                        <div class="single-blog-post d-flex align-items-center widget-post">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img class="card-img-top img-fluid" src="{{ user.img_url }}" alt="">
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a href="#" class="post-tag">Numerology</a>
                                                <h4><a href="#" class="card-title post-headline">{{ user.full_name }}</a></h4>
                                                <h3><a href="#" class="card-title post-headline">{{ user.alternative_name }}</a></h3>

                                                <div class="post-meta card-text">
                                                    <p><a href="#">Life Path:{{ user.life_path_number}}</a></p>
                                                    <p><a href="#">Destiny: {{ user.destiny_number}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>








</div>


{% endblock content %}
