
        <div class="original-nav-area" id="stickyNav">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between">

                        <!-- Subscribe btn -->
                        <div class="subscribe-btn">
                            <a href="#" class="btn subscribe-btn" data-toggle="modal" data-target="#subsModal">Subscribe</a>
                        </div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu" id="originalNav">
                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'home' %}">Home</a></li>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="single-post.html">Single Post</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="coming-soon.html">Coming Soon</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="{% url 'charts:list' %}">Charts</a>

                                    </li>


                                    <li><a href="#">Numerology</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'numerology:home' %}">Posts</a></li>
                                            <li><a href="#">Numbers</a>
                                                <ul class="dropdown">
                                                    {% for i in i|rjust:9 %}
                                                    <li><a href="{% url 'numerology:posts' forloop.counter %}">{{ forloop.counter }}</a></li>
                                                    {% endfor %}
                                                    <li><a href="{% url 'numerology:posts' '11' %}">11</a></li>
                                                    <li><a href="{% url 'numerology:posts' '22' %}">22</a></li>
                                                    <li><a href="{% url 'numerology:posts' '33' %}">33</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>


                                    <li><a href="#">Astrology</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'astrology:list' %}">Charts</a></li>
                                            <li><a href="#">Planets</a>

                                            </li>
                                        </ul>
                                    </li>





                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="#">Planets</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Headline 1</li>
                                                {% for planet in planets %}
                                                {% if forloop.counter <= 7  %}
                                                <li><a href="{% url 'astrology:planetsign' planet 'Capricorn' %}">{{planet}}</a></li>
                                                {%endif%}
                                                {% endfor %}
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Headline 2</li>
                                                {% for planet in planets %}
                                                {% if forloop.counter > 7 and forloop.counter <= 10 %}
                                                <li><a href="{% url 'astrology:planetsign' planet 'Capricorn' %}">{{planet}}</a></li>
                                                {%endif%}
                                                {% endfor %}
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Headline 3</li>
                                                {% for planet in planets %}
                                                {% if forloop.counter > 10 and forloop.counter <= 17 %}
                                                <li><a href="{% url 'astrology:planetsign' planet 'Capricorn' %}">{{planet}}</a></li>
                                                {%endif%}
                                                {% endfor %}
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Headline 4</li>
                                                {% for planet in planets %}
                                                {% if forloop.counter > 17 and forloop.counter <= 24 %}
                                                <li><a href="{% url 'astrology:planetsign' planet 'Capricorn' %}">{{planet}}</a></li>
                                                {%endif%}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>

                                <!-- Search Form  -->
                                <div id="search-wrapper">
                                    <form action="#">
                                        <input type="text" id="search" placeholder="Search something...">
                                        <div id="close-icon"></div>
                                        <input class="d-none" type="submit" value="">
                                    </form>
                                </div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
