{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Chart Detail</h1>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">
                <div class="col-12 col-md-6">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <h4><a href="#" class="post-headline">{{ chart.name }}</a></h4>

                        <p>{{ chart.date }} {{ chart.time }} </p>
                        <p>{{chart.city}}</p>

                        <div class="line"></div>
                        <a href="{% url 'chart:edit' chart.owner chart.pk %}">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
{% endblock content %}
